// 用于重写默认颜色常量，或者设置新的 stylus 颜色常量
// colors
$accentColor = #145EC9;
$textColor = #0873FA;
$borderColor = #eaecef;
$codeBgColor = #282c34;
$arrowBgColor = #ccc;
$badgeTipColor = #329B63;
$badgeWarningColor = darken(#ffe564, 35%);
$badgeErrorColor = #D54630